.ICC-Android-Main {
  height: 100vh;
  width: 100%;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ICC-Android-Main > img {
  position: absolute;
  object-fit: contain;
}

.ICC-Android-Back {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ICC-Android-Content {
  display: flex;
  position: absolute;
  padding-top: 135px;
  left: 16.5%;
  height: 100%;
  flex-direction: column;

  justify-content: flex-start;
}
.ICC-Android-Corner {
  top: 0;
  right: 0;
  width: 50%;
  max-height: 100%;
}

.ICC-Android-Home {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 57px;
  height: 57px;
}
.ICC-Android-Home a {
  display: block;
  width: 100%;
  height: 100%s;
}

.ICC-Android-Title {
  /* height: 10%; */
  width: 408px;
  margin-bottom: 40px;
}
.ICC-Android-Slider {
  height: 459px;
  width: 408px;
  margin-bottom: 40px;
}
.ICC-Android-Slider img {
  height: 459px;
  width: 408px;
}
.ICC-Android-Button-Container {
  height: 8%;
  display: flex;
  flex-direction: row;
}

.ICC-Android-Button-Container > a {
  display: block;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  width: 50%;
}

.ICC-Android-Hk,
.ICC-Android-Cn {
  height: 100%;
}
