.ICC-Apple-Main {
  height: 100vh;
  width: 100%;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ICC-Apple-Main > img {
  position: absolute;
  object-fit: contain;
}

.ICC-Apple-Back {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ICC-Apple-Main > div {
  position: absolute;
  left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  justify-content: space-around;
}
.ICC-Apple-Corner {
  top: 0;
  right: 0;
  width: 50%;
  max-height: 100%;
}

.ICC-Apple-Title {
  height: 10%;
  margin-bottom: 1rem;
}

.ICC-Apple-Button-Container {
  height: 8%;
  display: flex;
  flex-direction: row;
}

.ICC-Apple-Button-Container > a {
  display: block;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  width: 50%;
}

.ICC-Apple-Hk,
.ICC-Apple-Cn {
  height: 100%;
}
