.ICC-Main {
  height: 100vh;
  width: 100%;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ICC-Main > img {
  position: absolute;
  object-fit: contain;
}

.ICC-HomeContainer {
  position: absolute;
  top: 43px;
  left: 43px;
  z-index: 200;
}
.ICC-Home {
  height: 57px;
  width: 57px;
}

.ICC-Back {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ICC-Main > div {
  position: absolute;
  left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  justify-content: space-around;
}
.ICC-Corner {
  top: 0;
  right: 0;
  width: 50%;
  max-height: 100%;
}

.ICC-Title {
  height: 10%;
  margin-bottom: 1rem;
}
.ICC-Phone {
  margin-bottom: 1rem;
  height: 50%;

  object-fit: contain;
}
.ICC-Android-Button {
  margin-bottom: 0.4rem;
  height: 8%;
}
.ICC-Android,
.ICC-Ios {
  height: 100%;
}
.ICC-Ios-Button {
  height: 8%;
}

.ICC-Android-Main {
  height: 100vh;
  width: 100%;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ICC-Android-Main > img {
  position: absolute;
  object-fit: contain;
}

.ICC-Android-Back {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ICC-Android-Content {
  display: flex;
  position: absolute;
  padding-top: 135px;
  left: 16.5%;
  height: 100%;
  width: 408px;
  flex-direction: column;

  justify-content: flex-start;
}
.ICC-Android-Corner {
  top: 0;
  right: 0;
  width: 50%;
  max-height: 100%;
}

.ICC-Android-Home {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 57px;
  height: 57px;
}
.ICC-Android-Home a {
  display: block;
  width: 100%;
  height: 100%s;
}

.ICC-Android-Title {
  /* height: 10%; */
  width: 408px;
  margin-bottom: 40px;
}
.ICC-Android-Slider {
  height: 459px;
  width: 408px;
  margin-bottom: 40px;
}
.ICC-Android-Slider img {
  height: 459px;
  width: 408px;
}
.ICC-Android-Button-Container {
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ICC-Android-Button-Container > a {
  display: block;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  /* width: 50%; */
  width: 194px;
  height: 68px;
}

.ICC-Android-Hk,
.ICC-Android-Cn {
  height: 100%;
}

.ICC-Apple-Button-Container {
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ICC-Apple-Button-Container > a {
  display: block;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  /* width: 50%; */
  width: 194px;
  height: 68px;
}

.ICC-Apple-Hk,
.ICC-Apple-Cn {
  height: 100%;
}

.ICC-Apple-Caution {
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.ICC-Apple-Caution p {
  margin: 0;
  text-align: left;
}
