.CI-Main {
  min-height: 100vh;
  background: url("../../assets/img/coloring-issue/coloring\ bg\ \(black\).jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
}
.CI-Title {
  width: 506px;
  height: 98px;
  margin: auto;
  max-width: 95%;
  margin-bottom: 24px;
}
.CI-Title > img {
  height: 100%;
  max-width: 100%;
}
.CI-Menu {
  padding-bottom: 12rem;
}

.CI-Menu li {
  padding: 12px;
}

.CI-Menu li > div {
  color: white;
  font-size: 56px;
}

.CI-Menu li > div:hover {
  color: #168a7d;
  cursor: pointer;
}

.CI-Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  /* padding: 2rem; */
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.CI-Modal > div {
  /* width: 100%;
  justify-content: flex-start;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  display: flex; */
}

.CI-Modal > .CI-Modal-Title {
  position: relative;
  background: #000;

  padding: 2rem;
  display: flex;
  justify-content: center;
}

.CI-Modal-Cross {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
}

.CI-Modal-Title > img {
  height: 59px;
}
.CI-Modal-Content {
  padding: 40px;
}
.CI-Modal-Content > div {
  width: 100%;
}
.CI-Modal-Content img {
  max-width: 100%;
}
.CI-Modal-Footer {
}

.CI-Modal-1 {
  display: flex;
  justify-content: space-evenly;
}
.CI-Modal-1 > img {
  /* width: 50%; */
}

.CI-Modal-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CI-Modal-3 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.CI-Modal-3 img {
  width: 100%;
  max-width: 100%;
}
.CI-Modal-3 > div {
  display: flex;
  flex-direction: row;
}
.CI-Modal-3 > div > div {
  width: 60%;
}
.CI-Modal-3 > div > div:last-of-type {
  background: url("../../assets/img/coloring-issue/3/4.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 40%;
}

.CI-Modal-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CI-Modal-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CI-Modal-5 > div {
  display: flex;
  justify-content: center;
}

.CI-Modal-6 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CI-Modal-7 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CI-Modal-8 {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.CI-Modal-9 {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .CI-Modal-1 {
    flex-direction: column;
  }
  .CI-Modal-1 > * {
    flex: 1 !important;
  }
  .CI-Modal-5 > div {
    flex-direction: column;
    align-items: center;
  }
  .CI-Modal-6 > div {
    flex-direction: column;
  }
}
