.Fairy-Main {
  width: 100%;
}

.Fairy-Main img {
  width: 100%;
}

.Fairy-Banner {
  background: url("../../assets/img/fairy/fairy\ banner\ 3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  max-height: 590px;
  height: 100vh;
  border-bottom: 5px solid #006837;
}

.Fairy-Banner-Container {
  height: 100%;
  width: 100%;
  max-width: 1650px;
  display: flex;
  justify-content: space-evenly;
}

.Fairy-Banner img {
  display: inline-block;
  width: auto;

  height: 100%;
}

.Fairy-MoreDetail {
  background-color: #006738;
  height: 21px;
  width: 85px;
  margin-bottom: 10px;
  border-radius: 11px 11px 11px 0;
}

.Fairy-MoreDetail > a {
  width: 100%;
  display: block;
}

.Fairy-MoreDetail > a > img {
  height: 11px;
}

.Fairy-Product {
  width: 100%;
  max-width: 1650px;

  margin: auto;
  padding: 200px 0;
}

.Fairy-Product-Container {
  display: flex;
  /* height: 275px; */
  justify-content: center;
}

.Fairy-Product-Container > div {
  /* width: 25%; */
  /* border-right: 2px solid #c8c8c8; */
  padding: 0;
  position: relative;
}
.Fairy-Product-Container > div:not(:last-of-type):before {
  content: "";
  position: absolute;
  /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  right: 0;
  bottom: 0;
  width: 2px;
  height: 90%; /* or 100px */
  border-right: 2px solid #c8c8c8;
}

.Fairy-Product-Container > div:last-of-type {
  border: none;
}

.Fairy-Product-Box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 275px;
}
.Fairy-Product-Box img {
  object-fit: contain;
  height: 80%;
}
.Fairy-Product-Box > img:first-of-type {
  width: 30%;
  padding: 0 2%;
}
.Fairy-Product-Box > img:last-of-type {
  padding: 0 2%;
  width: 70%;
}

.Fairy-Motto {
  background: url("../../assets/img/fairy/fairy\ banner\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 7rem;
}

.Fairy-Motto img {
  width: 80%;
}

.Fairy-TopButton {
  padding: 60px 0 100px;
}

.Fairy-TopButton img {
  width: 54px;
  height: 54px;
}

.Fairy-Slider {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 100px 0;
  margin: auto;
  max-width: 1650px;
}
.Fairy-Slider-Section {
  width: 50%;
}
.Fairy-Slider-Section:first-of-type {
  border-right: 1px solid #cccccc;
}
.Fairy-Slider-Container {
  width: 599px;
  margin: auto;
}
.Fairy-Slider-Img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 599px;
  height: 333px;
  padding-bottom: 46px;
}
.Fairy-Slider-Img img {
  object-fit: contain;
  width: auto !important;
}

.Fairy-Slider-Button {
  height: 15px;
  width: auto !important;
}

.Fairy-Slider .slick-dots {
  display: flex !important;
  flex-direction: row;
}

.Fairy-Slider .slick-dots li {
  flex: 1;
  height: 29px;
  width: auto !important;
  border: 1px solid #dedede;
}

.Fairy-Slider .slick-dots li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.Fairy-Slider .slick-dots li.slick-active,
.Fairy-Slider .slick-dots li:hover {
  border-color: #999999;
}

@media screen and (max-width: 900px) {
  .Fairy-Banner-Container {
  }
  .Fairy-Banner-Container > img:first-of-type {
    display: none;
  }
  .Fairy-Banner-Container > img:last-of-type {
    display: block;
    width: 50% !important;
    justify-content: center;
    align-items: center;
  }
  .Fairy-Product {
    width: 90%;
    padding: 50px 0;
  }
  .Fairy-Product-Container {
    flex-wrap: wrap;
  }
  .Fairy-Product-Container > div {
    width: 100%;
    margin-bottom: 40px;
  }

  .Fairy-Product-Container > div:before {
    border: none !important;
  }

  .Fairy-Motto {
    padding: 2rem 0;
  }
  .Fairy-Motto img {
    width: 100%;
  }
  .Fairy-Slider {
    flex-direction: column;
  }
  .Fairy-Slider-Section {
    width: 100%;
    margin-bottom: 100px;
  }
  .Fairy-Slider-Section:first-of-type {
    border: none;
  }
}
