.Burger-Button {
  color: #7f7f7f;
  position: fixed;
  top: 51px;
  right: 100px;
  z-index: 200;
  padding: 0;
}

.Burger-Button:hover {
  opacity: 0.5;
}

.Burger-Icon {
  width: 50px !important;
  height: 50px !important;
}

.Burger-Stroke {
  width: 26px;
  height: 4.5px;
  background-color: #7f7f7f;
  border-radius: 10px;
  margin-bottom: 3px;
}
@media screen and (max-width: 900px) {
  .Burger-Button {
    top: 51px;
    right: 50px;
  }
  .Faddy-Burger {
    position: absolute;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}
