.Navmenu {
  z-index: 100;
  height: 100vh;
  background: url("../../assets/img/index/cover\ 1650x900\ final.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.Navmenu ul {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Navmenu li {
  /* padding: 28px; */
  height: 101px;
  display: flex;
  align-self: center;
}

.Navmenu a {
  color: white;
  font-size: 45px;
  margin: auto;
}

.One:hover {
  color: #ffff01;
}
.Two:hover {
  color: #27ace2;
}
.Three:hover {
  color: #8cc640;
}
.Four:hover {
  color: #f15a24;
}
.Five:hover {
  color: #006738;
}
.Six:hover {
  color: #fcee23;
}
.Seven:hover {
  color: #1f3bbd;
}
.Navmenu a:hover {
  /* transform: scale(1.5, 1.5); */
  transition: font-size 0s;
  font-size: 75px;
  font-style: italic;
  /* opacity: 0.7; */
  /* transform-origin: center center; */
}
/*
#ffff01
#27ace2
#8cc640
#f15a24
#006738
#fcee23
#1f3bbd
 */
@media screen and (max-width: 900px) {
  .Navmenu {
    /* height: 150vh; */
    min-height: 100vh;
    height: auto;
  }

  .Navmenu ul {
    padding-top: 100px;
    justify-content: flex-start;
    padding-bottom: 200px;
  }

  .Navmenu li {
    padding: 1rem;
    height: auto;
  }
  .Navmenu a {
    /* font-size: 2rem; */
  }
  .Navmenu a:hover {
    /* font-size: 2.7rem; */
  }
}
