.BC-Banner {
  /* height: 3rem; */
  background: #646464;
  border-bottom: 5px solid #2e3192;
  height: 45rem;
  position: relative;
}

.BC-Banner > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.BC-Banner-1 {
  width: 100%;
  height: 100%;
  padding: 7.5rem;
  background: url("../../assets/img/basic-color/basic\ banner\ product.png");
  background-repeat: no-repeat;
  background-position: center;
}

.BC-Banner-1-Title {
  height: 10rem;
}
.BC-Banner-1-Pic {
  height: 30rem;
}

.BC-Banner-1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.BC-Banner-2 {
  width: 100%;
  height: 100%;
  background: url("../../assets/img/basic-color/basic top banner (janice).png");
  background-repeat: no-repeat;
  background-position: right center;
}

.BC-Banner-2-Container {
  width: 50%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.BC-Banner-2-Logo {
  /* width: 5rem; */
  padding: 2rem;
}
.BC-Banner-2-Logo > img {
  width: 7.5rem;
  height: 7.5rem;
  padding: 0.5rem;
  object-fit: contain;
  background: #2e3192;
}

.BC-Banner-2-Title {
  height: 10rem;
}

.BC-Banner-2-Title > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.BC-Description {
  width: 80%;
  margin: auto;
}
.BC-Description-Container {
  display: flex;
}
.BC-Description-Container img {
  width: 100%;
}
.BC-Description-Container > div:first-of-type {
  width: 42%;
  padding: 7.5%;
}
.BC-Description-Container > div:last-of-type {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .BC-Description-Container > div:last-of-type {

} */
.BC-Description-Button {
  text-align: left;
  margin-top: 2rem;
}
.BC-Description-Button img {
  width: auto;
}

.BC-ColorChart {
}
.BC-ColorChart-Title {
  background: #2e3192;
  height: 5rem;
  padding: 0.5rem;
}
.BC-ColorChart-Title > img {
  height: 100%;
  max-width: 100%;
}
.BC-ColorChart-Banner {
  height: 40rem;
  background: url("../../assets/img/basic-color/basic\ chart\ photo\ low\ res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.BC-ColorChart-Description {
  padding: 3rem 5%;
}

.BC-ColorChart-Description img {
  width: 100%;
}

.BC-BCS-Title {
  height: 10rem;
  padding: 3rem;
}
.BC-BCS-Title img {
  height: 100%;
}
.BC-BCS-Product {
  display: flex;
  width: 80%;
  margin: auto;
}
.BC-BCS-Product > div {
  flex: 1;
  cursor: pointer;
}
.BC-BCS-Product > div > img {
  width: 100%;
}

.BC-BCS-Product > div:hover {
  opacity: 0.5;
}

.BC-Modal {
  position: absolute;
  width: 50vw;
  height: 60vh;
  background: #000;
  padding: 2rem;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BC-Modal > div {
  width: 100%;
  justify-content: flex-start;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  display: flex;
}

.BC-Modal > div > img {
  /* padding-left: 50%; */
  max-width: 50%;
  max-height: 100%;
  height: 100%;

  object-fit: contain;
}

.BC-Modal-1 {
  background: url("../../assets/img/basic-color/basic\ color\ product.png");
}
.BC-Modal-2 {
  background: url("../../assets/img/basic-color/basic\ premium\ product.png");
}
.BC-Modal-3 {
  background: url("../../assets/img/basic-color/basic\ lite\ product.png");
}

.BC-BT-Title {
  background: url("../../assets/img/basic-color/tools\ low-res.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BC-BT-Title img {
  height: 45%;
}
.BC-BT-Product {
  width: 80%;
  margin: auto;
}

.BC-BT-Container {
  display: flex;
}
.BC-BT-Container img {
  width: 100%;
}
.BC-BT-Container > div:first-of-type {
  width: 42%;
  padding: 7.5%;
}
.BC-BT-Container > div:last-of-type {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BC-BT-Products {
  display: flex;
}

.BC-BT-Products-Box {
  flex: 1;
}

.BC-BT-Products-P {
  padding: 10%;
}
.BC-BT-Products-P > img {
  width: 100%;
}
.BC-BT-Products-T {
  height: 1.8rem;
}
.BC-BT-Products-T img {
  height: 100%;
  max-width: 100%;
}

.BC-TopButton {
  padding: 3rem 0;
}
.BC-TopButton img {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 900px) {
  .BC-Banner-1 {
    background-size: contain;
  }
  .BC-Banner-2-Container {
    width: 100%;
  }
  .BC-Description-Container {
    flex-direction: column;
  }
  .BC-Description-Container > div:first-of-type,
  .BC-Description-Container > div:last-of-type {
    width: 100%;
  }
  .BC-Description-Container img,
  .BC-BT-Container img,
  .BC-BT-Products-P > img,
  .BC-ColorChart-Banner {
    max-height: 300px;
    object-fit: contain;
  }
  .BC-ColorChart-Description {
    padding: 3rem 15px;
  }
  .BC-BT-Container {
    flex-direction: column;
  }
  .BC-BT-Container > div:first-of-type,
  .BC-BT-Container > div:last-of-type {
    width: 100%;
  }
  .BC-BT-Products {
    flex-direction: column;
  }
}
