.Xssential-Main img {
  width: 100%;
}
.Xssential-Banner {
  background: url("../../assets/img/xssential-color/xssential\ bg\ 2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #f7931e;
}

.Xssential-Banner-Container {
  width: 100%;
  max-width: 1650px;
  height: 100vh;
  max-height: 579px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Xssential-Banner-Image-L {
  height: 584px;
  object-fit: contain;
  width: 52%;
  max-width: 847px;
}
.Xssential-Banner-Image-R {
  width: 35%;
  max-width: 569px;
  height: 246px;
  margin-left: -9%;
  object-fit: contain;
}

.Xssential-Info {
  display: flex;
  width: 95%;
  margin: auto;
  padding: 50px 0 80px;
  justify-content: center;
}

.Xssential-Info > div {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.Xssential-Info > div > div {
  width: 70%;
  text-align: left;
}

.Xssential-Info-L {
  width: 40%;
  border-right: 1px solid #c8c8c8;
}
.Xssential-Info-L > div {
  padding: 30px;
}
.Xssential-Info-L > img {
  width: 30%;
}
.Xssential-Info-L-Button {
  text-align: left;
  margin-top: 2rem;
}

.Xssential-Info-R {
  width: 45%;
}
.Xssential-Info-R > div {
  padding: 30px;
}
.Xssential-Info-R > img {
  width: 26%;
}
.Xssential-Info-R-HairColor {
  margin-top: 2rem;
  text-align: left;
}
.Main {
  display: block;
}
.Mobile {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .Main {
    display: none;
  }
  .Mobile {
    display: block;
  }

  .Xssential-Banner-Container {
    max-height: 357px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Xssential-Banner-Image-L {
    height: 390px;
    margin-top: -40px;
    margin-left: -80px;
    width: auto;
  }
  .Xssential-Banner-Image-R {
    height: 115px;
    width: 390px;
    margin-top: 120px;
    margin-left: -110px;
  }

  .Xssential-Info {
    flex-direction: column;
  }

  .Xssential-Info-L,
  .Xssential-Info-R {
    width: 100%;
    border: none;
  }
  .Xssential-Info-L > img {
    width: 158px;
  }
  .Xssential-Info-L > div {
    width: 336px !important;
    padding: 0;
    margin-left: 30px;
  }
  .Xssential-Info-R > img {
    width: 158px;
  }
  .Xssential-Info-R > div {
    width: 316px !important;
    padding: 0;
    margin-left: 30px;
  }

  .Xssential-Info-R > div > img {
    width: 100%;
  }
}
