.Ionic-Main {
  width: 100%;
}

.Ionic-Main img {
  object-fit: contain;
  width: 100%;
}

.Ionic-Banner {
  background: url("../../assets/img/ionic/ionic\ top\ banner\ \(salon\ bg\)\ 2-u18930-fr-u18930-fr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom: 5px solid #f39800;
  display: flex;
  justify-content: flex-start;
  padding-left: 41%;
  height: 576px;
  margin-bottom: 75px;
}

.Ionic-Banner-Container {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  max-height: 100%;
  justify-content: center;
  align-items: center;
  /* padding: 2rem 5%; */
  height: 100%;
}

.Ionic-Banner-G {
  /* width: 30%; */
  margin-left: 90px;
  padding-top: 20px;
}
.Ionic-Banner-G img {
  height: 100%;
  object-fit: contain;
}

.Ionic-Curly {
  width: 80%;
  margin: auto;
  /* padding: 2rem 0; */
}

.Ionic-Curly-Title {
  width: 40%;
  margin: auto;
  /* padding: 3rem 0; */
  max-width: 458px;
}

.Ionic-Curly-Row {
  display: flex;
}
.Ionic-Curly-Row > div {
  display: flex;
  width: 50%;
  padding: 0 3rem;
  margin: 2rem 0;
}
.Ionic-Curly-Row > div:first-of-type {
  /* border-right: 2px solid #c8c8c8; */
  position: relative;
}
.Ionic-Curly-Row > div:first-of-type:before {
  content: "";
  position: absolute;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  right: 0;
  width: 1px;
  height: 80%; /* or 100px */
  border-right: 2px solid #c8c8c8;
}

.Ionic-Curly-Row > div > div {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* padding: 0 1rem; */
  height: 299px;
}
.Ionic-Curly-Row > div > div:last-of-type {
  height: 90px;
  justify-content: flex-end;
  align-self: flex-end;
  padding-bottom: 50px;
}
.Ionic-Curly-Row > div > div > img {
  width: 100%;
}

.Ionic-Spacer {
  width: 100%;
}

.Ionic-Spacer img {
  width: 100%;
}

.Ionic-Straight {
  width: 90%;
  margin: auto;
  /* padding: 2rem 0; */
  margin-top: -100px;
}

.Ionic-Straight-Title {
  width: 30%;
  max-width: 349px;
  /* padding: 3rem 0; */
  margin: auto;
}

.Ionic-Straight-Row {
  display: flex;
  margin: 2rem auto;
  width: 90%;
}

.Ionic-Straight-Row > div {
  width: 25%;
  padding: 1rem;
}
.Ionic-Straight-PBox {
  height: 100%;
  width: 100%;
}
.Ionic-Straight-PBox > img {
  height: 100%;
  object-fit: contain;
}

.Ionic-Straight-IBox {
  height: 100%;
  width: 100%;
}

.Ionic-Straight-IBox > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Ionic-TopButton {
  padding: 100px 0;
}
.Ionic-TopButton img {
  width: 53px;
  height: 54px;
  opacity: 0.5;
}
.Ionic-Reinforce-Title {
  width: 35%;
  max-width: 384px;
}
.Ionic-Reinforce-Row > div:first-of-type {
  position: relative;
}
.Ionic-Reinforce-Row > div:first-of-type:before {
  content: "";
  position: absolute;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  right: 0;
  width: 2px;
  height: 80%; /* or 100px */
  border-right: 2px solid #c8c8c8;
}

.Ionic-Reinforce-PBox {
  width: 100%;
  height: 100%;
}

.Ionic-Reinforce-PBox > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

.Ionic-Reinforce-PBox.Twin > img {
  width: 70%;
}
.Ionic-Reinforce-PBox.Twin > img:last-of-type {
  width: 30%;
}

.Ionic-Reinforce-IBox.Twin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.Ionic-Reinforce-IBox.Twin > div {
  height: 50%;
  text-align: left;
}
.Ionic-Reinforce-IBox.Twin > div:first-of-type {
  border-bottom: 2px solid #c8c8c8;
}
.Ionic-Reinforce-IBox.Twin > div:first-of-type > img {
  width: 65%;
}
.Ionic-Reinforce-IBox.Twin > div > img {
  height: 100%;
  /* object-fit: contain; */
  width: 100%;
}
@media screen and (max-width: 900px) {
  .Ionic-Banner {
    padding-left: 0;
    flex-direction: column;
  }
  .Ionic-Banner-G {
    /* width: 100%; */
    display: none;
  }
  .Ionic-Curly-Row > div:first-of-type:before {
    border: none;
  }
  .Ionic-Curly {
    width: 90%;
  }
  .Ionic-Curly-Title {
    width: 70%;
  }

  .Ionic-Straight-Title {
    width: 50%;
  }
  .Ionic-Curly-Row {
    flex-direction: column;
  }
  .Ionic-Curly-Row > div {
    border: none !important;
    width: 100%;
    padding: 0 5rem;
    margin: 0;
  }
  .Ionic-Straight-Row {
    flex-wrap: wrap;
  }
  .Ionic-Straight-Row > div {
    width: 50%;
  }
  .Ionic-Curly-Row > div > div:last-of-type {
    align-self: center;
    padding-bottom: unset;
  }
  .Ionic-Curly-Row > div > div {
    padding: 0 0.7rem;
  }
  .Ionic-Curly-PBoxContainer {
    justify-content: center !important;
  }
}
