.FS-Main-MainContainer {
  display: block;
}
.FS-Main-MobileContainer {
  display: none;
}

.FS-Main {
  background-color: black;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.FS-Main-Container {
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 1650px;
  margin: auto;
}

.FS-Column1 {
  width: 25%;
}

.FS-Column2 {
  width: 50%;
}
.FS-ColumnFull {
  width: 100%;
}

.FS-Column2-Container {
  width: 100%;
}

.FS-Column2-1,
.FS-Column2-4 {
  width: 100%;
  height: 100%;
}

.FS-Column2-4 {
  display: flex;
}
.FS-Column2-4 > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.FS-Column2-2 {
  display: flex;
  flex-wrap: wrap;
}
.FS-Column2-2 > div {
  width: 50%;
}

.FS-Box {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
}
.FS-Box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.FS-Box:hover {
  opacity: 0.6;
  cursor: pointer;
}

.FS-Modal {
  position: absolute;
  width: 100vw;
  max-width: 984px;
  height: 100vh;
  max-height: 549px;
  background: #000;
  padding: 10px;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.FS-Modal > div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
}

.FS-Modal > div > img {
  margin-left: 50%;
  width: auto;
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
}

.FS-Modal > div.Modal-Close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  position: absolute;
  bottom: 8px;
  right: 60px;
}
.FS-Modal > div.Modal-Close > div {
  height: 2px;
  width: 10px;
  background-color: #bc4723;
  margin: auto;
}

.FS-Modal-1 {
  background: url("../../assets/img/faddy-styling/1b.jpg");
}

.FS-Modal-2 {
  background: url("../../assets/img/faddy-styling/2b.jpg");
}
.FS-Modal-3 {
  background: url("../../assets/img/faddy-styling/3b.jpg");
}
.FS-Modal-4 {
  background: url("../../assets/img/faddy-styling/big1-u22018-r-fr.png");
}
.FS-Modal-5 {
  background: url("../../assets/img/faddy-styling/5b.jpg");
}
.FS-Modal-6 {
  background: url("../../assets/img/faddy-styling/6b.jpg");
}
.FS-Modal-7 {
  background: url("../../assets/img/faddy-styling/7b.jpg");
}
.FS-Modal-8 {
  background: url("../../assets/img/faddy-styling/8b.jpg");
}
.FS-Modal-9 {
  background: url("../../assets/img/faddy-styling/9b.jpg");
}
.FS-Modal-10 {
  background: url("../../assets/img/faddy-styling/10b.jpg");
}
.FS-Modal-11 {
  background: url("../../assets/img/faddy-styling/11b.jpg");
}
@media screen and (max-width: 900px) {
  .FS-Main-MainContainer {
    display: none;
  }
  .FS-Main-MobileContainer {
    display: block;
  }
  .FS-Main {
    padding-top: unset;
    padding-bottom: 100px;
  }
  .FS-Modal {
    padding: 1rem;
  }
  .FS-Modal > div > img {
    padding-left: 35%;
    max-width: 65%;
  }
  .FS-Modal > div {
    background-size: contain;
  }
}
