.CC-Section-Box {
  width: 120px;
  height: 120px;
  margin: 10px 10px;
}
.CC-Section-Box.clickable {
  cursor: pointer;
}

.CC-Section-Box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.CC-Section-Img-Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.CC-Section-Img-Container.hover {
  transition: ease 0.5s;
  opacity: 100;
}
.CC-Section-Img-Container.no-hover {
  transition: ease 0.5s;
  opacity: 0;
}
.CC-Section-Img-Container.hover:hover {
  opacity: 0;
}
.CC-Section-Img-Container.no-hover:hover {
  opacity: 100;
}
