.BCC-Main {
  background: url("../../assets/img/color-chart/color\ chart\ nallo\ color_v3-02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.XCC-Main {
  background: url("../../assets/img/color-chart/color\ chart\ nallo\ color_v3-03.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.NCC-Main {
  background: url("../../assets/img/color-chart/color\ chart\ nallo\ color_v3-01.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

.CC-Main-Container {
  padding-top: 25%;
}
.CC-Section {
  width: 90%;
  margin: auto;
}

.CC-Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #c0c0c0;
  flex-wrap: wrap;
}
.CC-Row-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.CC-Row > div {
  /* width: 9.09%; */
  /* width: 120px; */
  /* display: inline-block; */
}

.CC-Modal {
  position: absolute;
  width: 100%;
  max-width: 592px;
  height: 100%;
  max-height: 445px;
  background: #000;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CC-Modal > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.CC-Modal img {
  object-fit: contain;
  width: 100%;
}
