.Tab {
  border-style: solid;
  border-width: 1px;
  border-color: #7f7f7f;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.Tab:hover {
  border-color: #999999;
  background-color: #d1d1d1;
  color: #545454;
}
