.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #7f7f7f;
  text-align: center;
}

.Footer.white {
  color: white;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 10;
}
.Footer.Nav {
  color: #7f7f7f;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 18px;
}
