.Nallo-Banner {
  height: 60%;
  /* min-height: 500px; */
  min-height: 579px;
  width: 100%;
  border-bottom: 5px solid #85ae26;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Nallo-Banner-Container {
  /* width: 80%; */
  max-width: 1181px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nallo-Banner-Container img {
  height: 100%;
  object-fit: contain;
}

.Nallo-Info {
  display: flex;
  padding: 3rem;
  margin: auto;
  max-width: 1650px;
  justify-content: center;
}
.Nallo-Info.Mobile {
  display: none;
  padding: 120px 10px 40px;
}
.Nallo-Info-MobileContainer {
  display: flex;
  justify-content: center;
}
.Nallo-Info img {
  width: 100%;
}

.Nallo-Info-L {
  width: 42%;
  max-width: 461px;
}
.Nallo-Info-R {
  width: 58%;
  padding: 2%;
  max-width: 612px;
}

.Nallo-Info.Mobile .Nallo-Info-L {
  width: 50%;
}
.Nallo-Info.Mobile .Nallo-Info-R {
  width: 50%;
}

.Nallo-Info-Button {
  text-align: left;
}

.Nallo-Info-Button > * {
  /* margin-right: 1rem; */
}

.Nallo-Info-Button img {
  width: auto;
}

.Nallo-Info.Mobile .Nallo-Info-Button {
  text-align: center;
  margin-top: 50px;
}

.Nallo-Grid {
  width: 100%;
  max-width: 1650px;
  margin: auto;
}

.Nallo-Grid-Container {
  display: flex;
  width: 100%;
  height: 100%;
}

.Nallo-Grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Nallo-Grid-1 {
  position: relative;
  width: 25%;
  padding: 0.2rem;
}
.Nallo-Grid-1 img {
  object-fit: cover;
}

.Nallo-Grid-1-Button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}
.Nallo-Grid-1-Button > div {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
.Na .Nallo-Grid-1-Button img {
  object-fit: contain;
}
.Nallo-Grid-2 {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.Nallo-Grid-2-1 {
  width: 66%;
  padding: 0.2rem;
  height: 50%;
}
.Nallo-Grid-2-1 img {
  object-fit: cover;
  object-position: 50% 0;
}

.Nallo-Grid-2-2,
.Nallo-Grid-2-3,
.Nallo-Grid-2-4,
.Nallo-Grid-2-5 {
  width: 33%;
  height: 50%;
  padding: 0.2rem;
  cursor: pointer;
}
.Nallo-Grid-2-2 > div,
.Nallo-Grid-2-3 > div,
.Nallo-Grid-2-4 > div,
.Nallo-Grid-2-5 > div {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.Nallo-Grid-2-2 > div {
  background-color: #def928;
}

.Nallo-Grid-2-3 > div {
  padding: 0;
}
.Nallo-Grid-2-4 > div {
  background-color: #575757;
}
.Nallo-Grid-2-5 > div {
  background-color: #dcdcdc;
}

.Nallo-Grid-2-2:hover img,
.Nallo-Grid-2-4:hover img,
.Nallo-Grid-2-5:hover img {
  opacity: 0.7;
}
.Nallo-Grid-2-3-back {
  background-color: black;
  position: relative;
}

.Nallo-Grid-2-3-back > img {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 0;
}
.Nallo-Grid-2-3-flip {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.Nallo-Grid-2-3-flip img {
  object-fit: cover;
  z-index: 10;
}

.Nallo-Grid-2-3-flip:hover {
  transform: rotateX(90deg);
}
.Nallo-TopButton {
  padding: 60px 0 100px;
}

.Nallo-TopButton img {
  width: 54px;
  height: 54px;
}

.Nallo-Modal {
  position: absolute;
  width: 100%;
  max-width: 797px;
  height: 100%;
  max-height: 444px;
  background: #000;
  padding: 10px 10px 10px 50px;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Nallo-Modal > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Nallo-Modal img {
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .Nallo-Banner-Container img:last-of-type {
    display: none;
  }
  .Nallo-Banner-Container img:first-of-type {
    width: 80% !important;
  }
  .Nallo-Info.Main {
    display: none;
  }
  .Nallo-Info.Mobile {
    display: block;
  }
  /* .Nallo-Info {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
  }
  .Nallo-Info > div {
    width: 100%;
  } */
  .Nallo-Grid {
    width: 100%;
  }
  .Nallo-Grid-1-Button {
    bottom: 2rem;
  }
  .Nallo-Grid-1 {
    /* width: 100%; */
  }
}
