.KD-Main {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.KD-Main img {
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.KD-Arrows-Container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.KD-Arrows {
  display: inline-block;
  box-sizing: border-box;
  width: 55px;
  height: 50px;
  border-width: 0px;
  border-color: transparent;
  background-color: #ffffff;
  padding: 15px;
  color: #999999;
  text-align: center;
  line-height: 20px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman,
    serif;
  margin: 0.5px;
  cursor: pointer;
}

.KD-Arrows p {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-repeat: no-repeat;
}
