.DropletButton {
  border-style: solid;
  border-width: 1px;
  border-color: #85ae26;
  background-color: #ffffff;
  border-radius: 0px 35px 35px 35px;
  /* padding: 0.5rem 1rem; */
  min-width: 148px;
  height: 32px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.DropletButton * {
  color: #85ae26;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.DropletButton img {
  height: 18px !important;
  margin: auto;
  object-fit: contain !important;
}
.DropletButton:hover {
  opacity: 0.5;
}

.DropletButton.greenBg {
  background-color: #85ae26;
}

.DropletButton.purple {
  border-color: #985ea3;
}

.DropletButton.purpleBg {
  border-color: #985ea3;
  background-color: #985ea3;
}

.DropletButton.blue {
  border-color: #2e3192;
}
.DropletButton.blueBg {
  border-color: #2e3192;
  background-color: #2e3192;
}

@media screen and (max-width: 900px) {
  .DropletButton {
    min-width: 5rem;
    margin-right: 10px;
  }
  .DropletButton * {
    font-size: 1rem;
  }
  .DropletButton img {
    height: 0.8rem;
  }
}
