.Index-Main {
  width: 100%;
  position: relative;
}
.Index-LogoSection {
  // height: 100vh;
  width: 100%;
  height: 62.2%;
  // max-height: 1050px;
  max-height: 100vh;
  min-height: 1050px;
  // background: url("../../assets/img/index/cover\ 1650x900\ final.jpg");
  background: url("../../assets/img/index/cover\ 1650x900\ final.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.Index-CenterBox {
  height: 100%;
}
.Index-LogoBox {
  margin-bottom: 15%;
  margin-top: 15%;
}

.Index-Logo {
  width: 100px;
}

.Index-Animation-Motto {
  position: relative;
  height: 3rem;
}

.Index-Animation-Motto div {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Index-Downarrow:hover {
  opacity: 0.5;
}

.Index-LinksSection {
  max-width: 930px;
  width: 80%;
  margin: auto;
  // height: 100vh;
  // min-height: 100vh;
  height: 1185px;
  // min-height: 1185px;
  position: relative;
}
.Index-LinksSection-Container {
  // padding-top: 83.73%;
  position: relative;
}
// .Index-LinksSection-Container > div {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

.Index-BrandContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.Index-BrandContainer img,
.Index-BrandContainer a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Index-BrandContainer-Row {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 33.33%;
}
.Index-BrandContainer-Row > div {
  width: 50%;
}
.Index-BrandContainer-RGrid {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.Index-BrandContainer-Grid {
  display: flex;
  flex: 1;
}
.Index-BrandContainer-RGrid a:hover {
  opacity: 0.3;
}

.Index-BrandContainer-RGrid a.no-hover:hover {
  opacity: 1;
}

.Index-BrandContainer img {
  width: 100%;
  height: 100%;
}

.Index-MottoSection {
  height: 383px;
  background: url("../../assets//img/index/i\ dis_8068.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.Index-MottoSection div {
  color: white;
}

.Index-Motto-Image {
  padding-top: 1rem;
  padding-bottom: 2%;
}

.Index-SPSection {
  padding: 5rem 10rem;
}

.Index-SPContainer {
  // display: flex;
  // flex-wrap: wrap;
}

.Index-SPContainer-Grid {
  width: 25%;
  padding: 2.5%;
  display: inline-block;
}

.Index-SPContainer-Front {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Index-SPContainer-Back {
  position: absolute;
  opacity: 0;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Index-SPContainer-Grid img {
  width: 100%;
  border-radius: 50%;
}

.Index-SPContainer-Grid:hover .Index-SPContainer-Front {
  opacity: 0;
  // transition: opacity 1s;
}

.Index-SPContainer-Grid:hover .Index-SPContainer-Back {
  opacity: 20;
  transform: scale(1.5, 1.5);
  transition: transform 2s ease 0s;
  transform-origin: center center;
}

.Index-CharacteristicSection > div {
  // width: 80%;
  // margin: auto;
}
.Index-CharacteristicSection-Grid {
  display: inline-block;
  width: 25%;
}
.Index-CharacteristicSection-Grid > .Index-CharacteristicSection-Grid-Title {
  font-size: 1.2rem;
  color: #259485;
}
.Index-CharacteristicSection-Grid img {
  height: 6rem;
}

.Index-CarouselSection {
  padding: 1.2rem;
}
.Index-PosterSection {
  max-width: 1013px;
  width: 80%;
  margin: auto;
}

.Index-FormTabSection {
  max-width: 1013px;
  width: 80%;
  margin: auto;
  height: 415px;
  border-style: solid;
  border-width: 1px;
  border-color: #7e8283;
}

.Index-FormTab-Product.active {
  color: #545455;
  background-color: #ffffff;
}
.Index-FormTab-Coop.active {
  // color: #545454;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #2e3192;
}

.Index-FormTab-Container {
  display: flex;
  height: 358px;
}

.Index-FormTab-Container.Product {
  background: linear-gradient(
    to bottom,
    #ffffff 46%,
    rgba(200, 200, 200, 0.54)
  );
}
.Index-FormTab-Container.Coop {
  background: linear-gradient(to bottom, #2e3192 46%, #2e314a);
}
.Index-FormTab-Container.Coop label {
  color: #ffffff;
}
.Index-FormTab-Container.Coop input[type="submit"] {
  color: #2e3192;
}

.Index-FormTab-Container > div {
  flex: 1;
  padding: 42px 30px;
}

.Index-FormTab-Container > .Index-FormTab-FormContainer {
  padding-right: 20px;
}
.Index-FormTab-Container > .Index-FormTab-DescriptionContainer {
  padding-left: 20px;
}
.Index-FormTab-DescriptionContainer p {
  font-size: 14px;
  text-align: left;
}

.Index-FormTab-Product-Description {
  color: #999999;
}
.Index-FormTab-Coop-Description {
  color: #ffffff;
}
.Index-FormTab-Form {
  width: 100%;
  height: 100%;
}

.Index-FormTab-FormGrp {
  // width: 90%;
  // padding-bottom: 0.5rem;
  margin-bottom: 5px;
  text-align: left;
}
.Index-FormTab-FormGrp label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 3px;
}

.Index-FormTab-FormGrp input {
  width: 100%;
  color: #4f4f4f;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  padding: 6px;
  line-height: 14px;
  position: relative;
}
.Index-FormTab-FormGrp input::placeholder,
.Index-FormTab-FormGrp textarea::placeholder {
  color: #c4c4c4;
  font-style: italic;
}

.Index-FormTab-FormGrp textarea {
  width: 100%;
  color: #4f4f4f;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  background-color: #ffffff;
  padding: 6px;
  line-height: 14px;
  position: relative;
}

.Index-FormTab-FormGrp input:hover::placeholder,
.Index-FormTab-FormGrp textarea:hover::placeholder {
  font-style: normal;
  color: #4f4f4f;
}

.Index-FormTab-FormGrp input[type="submit"] {
  width: 131px;
  width: 129px;
  // height: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #6b6b6b;
  background-color: #ffffff;
  border-radius: 2px;
  color: #6b6b6b;
  text-align: center;
  line-height: 14px;
  position: relative;
  cursor: pointer;
}

.Index-SNSection {
  position: relative;
  padding: 1rem 0 2rem;
  text-align: left;
  max-width: 1013px;
  width: 80%;
  margin: auto;
}

.Index-SNSection a {
  padding-right: 2rem;
  opacity: 0.5;
}
.Index-SNSection a:hover {
  opacity: 1;
}
.Index-SNSection div {
  padding-right: 2rem;
  opacity: 0.5;
  display: inline;
}
.Index-SNSection div:hover {
  opacity: 1;
  cursor: pointer;
}

.Index-Modal {
  position: absolute;
  width: 368px;
  min-height: 368px;
  background: #000;
  /* padding: 2rem; */
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}
.Index-Modal > div {
  width: 368px;
  height: 368px;
  margin: 10px;
}
.Index-Modal-1 img {
  width: 100%;
  height: 100%;
}
// .Index-UpTopSection {
//   width: 80%;
//   max-width: 930px;
//   margin: auto;
// }
.Index-UpTopContainer {
  position: absolute;
  // width: 80%;
  bottom: 0;
  right: -80px;
  padding-right: 0 !important;
  opacity: 1 !important;
}
.Index-UpTopContainer > a {
  display: block;
  padding-right: 0;
}
.Index-UpTop {
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 900px) {
  .Index-LogoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Index-LogoBox {
    margin-top: 0;
  }
  .Index-MottoSection {
    height: 235px;
  }
  .Index-Motto-Image > img {
    width: 30px;
    height: 29px;
  }
  .Index-Animation-Motto div {
    font-size: 24px !important;
  }
  .Index-LinksSection {
    width: 95%;
    max-height: 100vh;
  }

  .Index-SPSection {
    padding: 50px;
  }
  .Index-SPContainer-Grid {
    width: 30%;
    padding: 1%;
  }
  .Index-SPContainer-Grid:nth-child(4) {
    margin-left: 20%;
  }
  .Index-SPContainer-Grid:nth-child(5) {
    margin-right: 20%;
  }
  .Index-CarouselSection {
    padding: 100px 20px;
  }
  .Index-CharacteristicSection-Grid {
    // width: 50%;
  }
  .Index-CharacteristicSection-Container {
    margin: auto;
    width: 75%;
  }
  .Index-CharacteristicSection-Grid > .Index-CharacteristicSection-Grid-Title {
    font-size: 16px;
  }
  .Index-CharacteristicSection-Grid img {
    height: 72px;
  }
  .Index-SNSection {
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .Index-SNSection a {
    padding: 0;
    padding-bottom: 10px;
  }
  .Index-SNSection div {
    padding: 0;
  }
  .Index-UpTopContainer {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    padding-bottom: 100px;
  }
}
