div {
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}

button:focus,
button:active,
button:visited {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
a:active,
a:focus {
  text-decoration: none;
}

img {
  // width: 100%;
}
input,
textarea {
  outline: none;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

.hamburger-menu-icon {
  color: "#000000";
}

// .control-arrow.control-disabled {
//   display: none;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
