.CS-Main {
  min-height: 100vh;
  background: url("../../assets/img/color-system/coloring\ bg\ \(black\).jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
}

.CS-Title {
  width: 505px;
  height: 111px;
  margin: auto;
  margin-bottom: 80px;
  max-width: 100%;
}

.CS-Title > img {
  width: 100%;
  height: 100%;
}

.CS-Menu {
  width: 80%;
  max-width: 1050px;
  margin: auto;
}

.CS-Menu > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  /* flex-direction: row; */
}

.CS-Menu > div > div {
  text-align: center;
  color: white;
  min-width: 15%;

  font-weight: bold;
  font-size: 105px;
}
.CS-Menu > div > div:hover {
  cursor: pointer;
  color: #12bd9f;
}

.CS-Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;

  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.CS-Modal > .CS-Modal-Title {
  position: relative;
  background: #000;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.CS-Modal-Cross {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
}

.CS-Modal-Title > img {
  width: 299px;
  height: 66px;
}
.CS-Modal-Content {
  /* padding: 4rem; */
}
.CS-Modal-Content > div {
  width: 100%;
}
.CS-Modal-Content img {
  max-width: 100%;
}
.CS-Modal-Content > div > div:first-of-type {
  align-self: flex-end;
}
.CS-Modal-1 {
  width: 80%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CS-Modal-1 > div:first-of-type {
  margin-bottom: 30px;
}
.CS-Modal-1 > div:first-of-type > img {
  height: 110px;
}

.CS-Modal-1 > div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CS-Modal-1 > div:last-of-type > img:first-of-type {
  width: 750px;
}
.CS-Modal-1 > div:last-of-type > img {
  width: 448px;
}
@media screen and (max-width: 1200px) {
  .CS-Menu > div {
    flex-wrap: wrap;
  }
  .CS-Menu > div > div {
    width: 50%;
  }

  .CS-Modal-1 > div:first-of-type > img {
    max-width: 100%;
    object-fit: contain;
    height: unset;
  }
  .CS-Modal-1 > div:last-of-type {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .CS-Modal-1 > div:last-of-type > img:first-of-type {
    margin-bottom: 30px;
  }
}
