.centerParent {
  position: relative;
  width: 100%;
  height: 100%;
}
.center {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
